<div class="footer">
  <div class="container">
    <div class="row first_row">

      <div class="col-md-2 navigate">
        <h5>Naviguer</h5>
        <a routerLink="/">Carte</a>
        <a routerLink="/update">Update</a>
      </div>

      

      <div class="col-md-6 subscribe">
          <h5>Restez branché !</h5>
          <p>Abonnez-vous à notre newsletter et recevez nos derniers offres et informations.</p>
          <input type="email" placeholder="Votre email svp..." class="form-control" style="background-color: #EDEDED;">
          <input type="button" value="S'abonner" class="btn btn-outline-warning btn-sm" id="btn_abo">
      </div>

      <div class="col-md-4 inscription">
          <h5>Vous souhaitez vous inscrire ?</h5>
          <p>Pour accéder simplement à l'avancement de votre parcelle, veuillez cliquer sur le lien ci-après :</p>          
          <input type="button" value="Je m'inscris" class="btn btn-outline-warning btn-sm" id="btn_abo">
      </div>

    </div> 

    <!-- divider-->
    <hr style="background-color: bisque;">

    <div class=" second_row">
      <a href="">Conditions d'utilisation</a>
      <a href="">Contactez-nous</a>
      <a href="">&copy; 2019, Web-Map</a>
    </div>
    
  </div> 
</div>

  