<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 navigation">
      <a href="">Ajout</a>
      <br>
      <a href="">Modification</a>
      <br>
      <a href="">Suppression</a>
    </div>
    <div class="col-md-10 change">
      
        <label>Identifient de la parcelle :</label>
        <input type="text" class="form-control col-md-4" placeholder="Saisissez l'identifient" />
        <hr class="col-md-5">

        <label>Choisissez la donnée a mettre à jour :</label>
        <select class="form-control col-md-4">
          <option selected>Choisissez la donnée</option>
          <option>Donnée 1</option>
          <option>Donnée 2</option>
          <option>Donnée 3</option>
          <option>Donnée 4</option>
        </select>
       
        <hr class="col-md-5">

       
        <label for="comment">Nouvelle donnée :</label>
        <textarea class="form-control col-md-4" rows="3" placeholder="Saisissez la nouvelle donnée"></textarea>
    

      
    </div>

    
  </div>
</div>