<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 navigation">
      <a (click)="showAjout()">Ajout</a>
      <br>
      <a  (click)="showModification()">Modification</a>
      <br>
      <a (click)="showSuppression()">Suppression</a>
    </div>

    <!-- ajout -->
    <div class="col-md-10 change" *ngIf="id==1">

        <label>Identifient de la parcelle :</label>
        <input type="text" class="form-control col-md-4" placeholder="Saisissez l'identifient" />
        <hr class="col-md-5">

        <label for="comment">Données relative à la parcelle :</label>
        <textarea class="form-control col-md-4" rows="3" placeholder="Saisissez les données"></textarea>

        <button class="btn btn-primary">Ajouter</button>

    </div>

    <!-- modification -->
    <div class="col-md-10 change" *ngIf="id==2">

        <label>Identifient de la parcelle :</label>
        <input type="text" class="form-control col-md-4" placeholder="Saisissez l'identifient" />
        <hr class="col-md-5">

        <label>Choisissez la donnée a mettre à jour :</label>
        <select class="form-control col-md-4">
          <option selected>Choisissez la donnée</option>
          <option>Donnée 1</option>
          <option>Donnée 2</option>
          <option>Donnée 3</option>
          <option>Donnée 4</option>
        </select>
        <hr class="col-md-5">

        <label for="comment">Nouvelle donnée :</label>
        <textarea class="form-control col-md-4" rows="3" placeholder="Saisissez la nouvelle donnée"></textarea>

    </div>

    <!-- suppression -->
    <div class="col-md-10 change" *ngIf="id==3">

        <label>Identifient de la parcelle :</label>
        <input type="text" class="form-control col-md-4" placeholder="Saisissez l'identifient" />

        <button class="btn btn-primary">Supprimer</button>

    </div>


  </div>
</div>
